// Body
$body-bg: #E7E7E7;

// Typography
$font-family-sans-serif: 'Noto Sans TC', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #F55844;
$orange: #E19A22;
$yellow: #F9D61D;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
