.content-wrapper.custom-mode, .main-footer, .main-header{
  background-color: #dddddd !important;
}
.main-sidebar{
  border-right: 2px solid #b8dfff;
}

.sidebar{
  padding: unset;
}

.user-panel{
  background-color: whitesmoke;
}

label.required-label::after{
  content: "*";
  color: red;
}

.list-img-column{
  width: 45px !important;
}
.list-img{
  width: auto !important;
}

.zoomIn-img:hover{
  transform-origin: left;
  transform:scale(4);
}


.required-error-message{
  position: absolute !important;
  font-size: 13px;
  font-weight: bolder;
}

.list-auto{
  list-style: auto;
}

.list-auto-item{
  padding-bottom: 7px;
}


@media(max-width:768px) {
  .table tbody tr td.dtr-control:first-child{
    text-align: center;
  }
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before{
  content:"\2B9E";
  color:#0275d8;
}
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th.dtr-control:before{
  content:"\2B9F";
  color:#d33333
}


@media (min-width: 576px){
  .modal-m75{
    max-width: 75% !important;
  }
}

.productCardSelected{
  border: 1px solid #dc3545 !important;
  border-radius: 5px;
}


.table > :not(caption) > * > * {
  background-color: #fff;
}